@use '../custom' as *;

.display-2{
    margin-bottom: 1rem;
    text-transform: capitalize;

    &--intro{
        display: inline-block;
        font-weight: 600;
        font-size: 2.5rem;
        color: $white;
    }
    &--description{
        margin-top: 2.5rem;
        font-size: 1.5rem;
        display: block;
        text-transform: none;
        color: $white;

        @include media-breakpoint-up(lg){
            font-size: 1.5rem ; 
            display: inline-block;       
        }
    }
}

//Heading line
.heading-line::before{
    content: "";
    width: 12rem;
    height: 00.1rem;
    display: block;
    background-color: $primary;
    margin: 0 auto;
}

.heading-line::after{
    content: "";
    width: 5rem;
    padding-top: 0.3rem;
    height: 0.2rem;
    display: block;
    background-color: $primary;
    margin: 0 auto;
    margin-bottom: 1rem;
}

//Display-3

.display-3{
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 700;

    &--title{
        font-family: iran-sans;
        font-size: 1.2rem;
        text-transform: capitalize;
        font-weight: 600;
        display: inline-block;
        background-image: linear-gradient(to right , $primary , $secondary );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include media-breakpoint-up(lg){
            font-size: 1.8rem;
        }

    }
}
//Border left
.border-left{
    border-left: 0.1rem solid $gray-300;
    height: 100%;
}